.ipynb_checkpoints/
*.html
*.h5
*.json
mydask.png
data/nycflights/*.csv
*.pyc
sample*.txt
file_list.txt
output.txt
user.txt
local-file.txt
cp_file.sh
data/test.xls
sentences.txt
books
.cache/v/cache/lastfailed
.pytest_cache/
*.orig
*.swp
*.dat
tests.py
notebooks/fibonacci.py
notebooks/Makefile
notebooks/first.txt
notebooks/test_stdin.py
notebooks/words.py
notebooks/mapper.py
notebooks/reducer.py
